*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.jar
.log
32/
64/
/LogisticsPipes-Request.log
/cactus-launcher-updater.jar
/build
